.wrapper {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.8rem 0 2.5rem;

  .back {
    width: 25px;
    height: 25px;
  }

  .header {
      flex-grow: 1;
      margin-left: 2.8rem;
  }

  .playActive {
      width: 90px;
          margin-right: -1rem;
  }
}
