.wrapper {
  height: 10vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;

  .content {
    flex-grow: 1;
    margin-left: 2.5rem;

    .next {
      font-size: 0.75rem;
      color: #9a9b9b;
      margin-bottom: 0.15rem;
      text-transform: uppercase;
    }

    .details {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 1.125rem;
      }

      .duration {
        color: #9a9b9b;
        font-size: 1.125rem;
      }
    }
  }
}
